<template name="Documents">

  <div class="db-head-theme-{{currentDatabaseTheme}}">
    <div class="container">
      <div class="pull-right" style="margin-top: 10px;">
        <span class="dropdown">
          <button type="button" class="theme-color btn btn-inverted btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-star"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" id="saved-filters">
              <li><a href="#" id="save-filter">Save current view</a></li>
              <li role="separator" class="divider"></li>
            {{#each savedFilters}}
              <li><a href="#">{{name}}</a></li>
            {{/each}}
          </ul>
        </span>
        <button class="theme-color btn btn-sm btn-inverted pull-right" id="reset-filter"><i class="fa fa-ban"></i></button>
<!--         <button class="theme-color btn btn-sm btn-inverted pull-right" id="save-filter"><i class="fa fa-floppy-o"></i></button>
 -->        <button class="theme-color btn btn-sm btn-inverted pull-right" id="refresh-documents"><i class="fa fa-refresh"></i></button>

      </div>
      <h1 class="m-b pull-left">
        {{collection.name}}
      </h1>

      <div class="pull-left" style="margin: 6px 0 0 10px;">
        <a id="insert-document" class="theme-color btn btn-inverted btn-sm" href="#">
          <i class="fa fa-plus"></i>
        </a>
        <button class="theme-color btn btn-sm btn-inverted pull-right" id="settings"><i class="fa fa-cog"></i></button>
      </div>
      {{> DocumentsFilter filterData}}

      <div class="clearfix m-b hide">
        <form class="pagination-form">
          <span>Total results: {{totalCount}}, show: </span>
          <input id="limit" class="form-control" type="text" value="{{defaultLimit}}">
          <span>skip: </span>
          <a class="previous theme-color btn btn-inverted" href=""><i class="fa fa-arrow-left"></i></a>
          <input id="skip" class="form-control" type="text" value="{{defaultSkip}}">
          <a class="next theme-color btn btn-inverted" href=""><i class="fa fa-arrow-right"></i></a>
          <input class="hidden" type="submit">
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bg-box m-t">

      {{#if documentsReady}}
        {{> Template.dynamic template='Tree' data=viewParameters}}
      {{else}}
        {{> DocumentsLoader}}
      {{/if}}
    </div>
  </div>

  {{> DocumentEditorModal}}
  {{> DocumentViewerModal}}
  {{> DocumentInsertModal}}
</template>

<template name="DocumentsLoader">
  <div class="panel panel-default">
    <div class="panel-body text-center h1">
      <i class="fa fa-spin fa-spinner"></i>
    </div>
  </div>
</template>
