<template name="DocumentsFilter">
  <div>
    <form class="documents-filter">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group {{#if invalidSelector}}has-error{{/if}}">
            <div class="input-group">
              <div class="input-group-addon">{{collection.className}}.find(</div>
              <input type="text" class="form-control" id="selector" value="{}" autocomplete="off">
              <div class="input-group-addon">,</div>
              <input type="text" class="form-control" id="options" value="{}" autocomplete="off">
              <div class="input-group-addon">);</div>
            </div>
          </div>
        </div>
      </div>
      <input class="hidden" type="submit" value="submit">
    </form>
  </div>
</template>
