<template name="Documents">
    <a class="pull-right btn btn-default btn-inverted" href="#"
       id="insert-document"><i class="fa fa-plus"></i> Insert new document</a>

    <h1 class="page-header">{{collection.name}}</h1>
    {{> DocumentsFilter filterData}}

    <form class="pagination-form text-right m-b">
        <button class="btn btn-default pull-left" id="refresh-documents"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-default pull-left" id="reset-filter">Reset Filter</button>
        <button class="btn btn-default pull-left">Documents count: {{totalCount}}</button>
      <a class="previous" href=""><i class="fa fa-arrow-left"></i></a>
      <input id="skip" class="form-control" type="text" value="{{defaultSkip}}">
      <input id="limit" class="form-control" type="text"
             value="{{defaultLimit}}">
      <a class="next" href=""><i class="fa fa-arrow-right"></i></a>
      <input class="hidden" type="submit">
    </form>
    {{#if documentsReady}}
        {{> Template.dynamic template='Tree' data=viewParameters}}
    {{else}}
        {{> DocumentsLoader}}
    {{/if}}
  {{> DocumentEditorModal}}
  {{> DocumentViewerModal}}
  {{> DocumentInsertModal}}
</template>

<template name="DocumentsLoader">
    <div class="panel panel-default">
        <div class="panel-body text-center h1">
            <i class="fa fa-spin fa-spinner"></i>
        </div>
    </div>
</template>
