<template name="Pagination">
  <div class="input-group-addon total-count">
    {{#if showLoader}}
      <i class="fa fa-spinner fa-spin" id="background-loader"></i>
    {{else}}
      {{totalCount}}x
    {{/if}}
  </div>
  <a class="pagination-first theme-color input-group-addon" href="#" title="Go to first page">
    <i class="fa fa-angle-double-left"></i>
  </a>
  <a class="pagination-previous theme-color input-group-addon" href="#" title="Go to previous page">
    <i class="fa fa-angle-left"></i>
  </a>
  <div class="input-group-addon" href="#" title="Select page">
    <div class="dropdown">
      <a class="theme-color dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{currentPage}}<span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each pages}}
          <li><a class="pagination-page" data-page="{{index}}" href="#">{{label}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <a class="pagination-next theme-color input-group-addon" href="#" title="Go to next page">
    <i class="fa fa-angle-right"></i>
  </a>
  <a class="pagination-last theme-color input-group-addon" href="#" title="Go to last page">
    <i class="fa fa-angle-double-right"></i>
  </a>
</template>
