<template name="Connections">
  {{> EditConnectionModal}}
  <div>
    <div class="">
      <h2 class="">Connections</h2>

      <div class="row">
        {{#each connections}}
          <div class="col-md-4 col-lg-3">
            <div class="connection-card">
              <i class="fa fa-bolt pull-right connection-icon"></i>
              <div class="title"><a href="{{connectLink}}" class="mini ui green button">{{name}}</a></div>
              <h4>{{host}}:{{port}}/{{database}}</h4>
              <div class="actions h6">
                <a class="edit-connection m-r" href="#">Edit</a>
                <a class="remove-connection m-r" href="#">Remove</a>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="col-md-4 col-lg-3 text-center">
          <div class="connection-card add-connection">
            <div class="btn btn-default">Add new connection</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
