<template name="EditConnectionModal">
  <div class="modal" id="EditConnectionModal">
    {{#with connection}}
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{name}}</h4>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       placeholder="Name"
                       value="{{name}}">
              </div>
              <div class="form-group">
                <label for="name">Host</label>
                <input type="text" class="form-control" id="host"
                       placeholder="Host"
                       value="{{host}}">
              </div>
              <div class="form-group">
                <label for="name">Port</label>
                <input type="text" class="form-control" id="port"
                       placeholder="Port"
                       value="{{port}}">
              </div>
              <div class="form-group">
                <label for="name">Default database</label>
                <input type="text" class="form-control" id="database"
                       placeholder="Default database"
                       value="{{database}}">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">Close
              </button>
              <button type="submit" class="btn btn-primary">Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    {{/with}}
  </div>
</template>
