<template name="EditConnectionModal">
  <div class="ui modal" id="EditConnectionModal">
    {{#with connection}}
      {{> EditConnectionModalContent}}
    {{/with}}
  </div>
</template>

<template name="EditConnectionModalContent">
  <div class="header">{{name}}</div>
  <div class="content">
    <div class="ui form">
      <form>
        <div class="field">
          <label>Name</label>
          <input type="text" name="name" placeholder="Name" value="{{name}}">
        </div>
        <div class="fields">
          <div class="eight wide field">
            <label>Address</label>
            <input type="text" name="host" placeholder="Host" value="{{host}}">
          </div>
          <div class="four wide field">
            <label>Port</label>
            <input type="text" name="port" placeholder="Port" value="{{port}}">
          </div>
          <div class="four wide field">
            <label>Default database</label>
            <input type="text" name="database" placeholder="Database"
                   value="{{database}}">
          </div>
        </div>
        <button class="ui button" type="submit">Save</button>
      </form>
    </div>
  </div>

</template>
