.connection-card {
  padding: 20px;
  background-color: #3c763d;
  color: #fcf8e3;

  a {
    color: #fcf8e3;
    text-decoration: underline;
  }

  .connection-icon {
    font-size: 6rem;
    color: #569157;
  }
}
