.connection-card {
  border-radius: 3px;
  padding: 20px;
  background-color: #3c763d;
  color: #fcf8e3;
  margin-bottom: 20px;

  a {
    color: #fcf8e3;
  }

  .connection-icon {
    font-size: 5rem;
    color: #569157;
  }

  .title {
    .h3;
  }
}
