.collections-table {
  &.table > tbody > tr > td {
    border-top: 1px solid #fff;
  }

  &.table > tbody > tr:hover > td {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }


}
