.tree-view {
  .toggle-children {
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }

  .parent {
    & > .toggle-children {
      &::before {
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        content: "\f105";
        top: 3px;
        left: 5px;
      }
    }

    & > .children {
      height: 0;
      overflow: hidden;
      margin-left: 10px;
    }
  }

  .parent.collapsed {
    & > .toggle-children {
      &::before {
        content: "\f107";
        left: 2px;
      }
    }

    & > .children {
      height: auto;
    }
  }

  // L A Y O U T
  border: 1px solid #ccc;
  border-radius: 3px;

  .document {
    border-bottom: 1px solid #ccc;
  }
}
