.tree-view {
  .toggle-children {
    cursor: pointer;
  }
  & > .parent:hover {background: #ddd}

  .parent {
    & > .toggle-children {
      &::before {
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        content: "\f105";
        top: 6px;
        left: 10px;
        z-index: 10;
        color: red;
      }
    }

    & > .children {
      height: 0;
      overflow: hidden;
    }
  }

  .parent.collapsed {
    & > .toggle-children {
      &::before {
        content: "\f107";
        left: 7px;
      }
    }

    & > .children {
      height: auto;
    }
  }
  .parent > .head .control-icon { color: #fff; width: 25px;}
  .parent:hover > .head .control-icon { color: #337ab7;}
  .parent:hover > .head .control-icon:hover { background: #ddd;}

  // L A Y O U T  +  D E S I G N
  margin: 0;

  border: none;
  border-radius: 3px;

  .document {
    border-top: 1px solid #ccc;
  }
  .document:first-child {
    border-top: none;
  }

  .parent {
    .children {
      margin-left: 0;
    }
  }

  .parent.collapsed > .head > .cell {
    // background-color: #F8F8F8;
  }

  .head {
    &:hover {
      background-color: #eee;
    }
  }

  .cell {
    padding-top: 3px;
    padding-bottom: 4px;
    height: 28px;

    &.key, &.value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.key {
      padding-right: 0px;
      padding-left: 10px;
    }
    &.value {
      padding-left: 0px;
    }
    &.actions {
      padding-right: 10px;
      padding-left: 0px;
    }
  }

  .children .cell.key {
    padding-left: 20px;
  }
  .children {
    font-size: 13px;
  }

  .children td {
    border-top: 1px solid #ccc;
  }

  .value-null {
    color: #aaa;
    font-style: italic;
  }

  .value-boolean {
    font-weight: bold;
  }

  .value-array, .value-object {
    color: #aaa;
  }

  .pinned-column {
    overflow: hidden;
  }

  .pinned-column:hover {
    // overflow: visible;
    // background: #fff;
    // box-shadow: 0px 0px 3px gray;
  }
}
