<template name="DefaultLayout">
  {{#if ready}}
    {{> Navigation}}
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          {{> Template.dynamic template=sidebar}}
        </div>
        <div class="col-md-10 bg-box p-y">
            {{#if showReloadingAlert}}
                <div class="alert alert-danger" role="alert">Please wait while a load the database...</div>
            {{else}}
                {{> Template.dynamic template=template}}
            {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
