<template name="DocumentEditorModal">
  <div class="modal" id="DocumentEditorModal">
    {{#with connection}}
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit document</h4>
          </div>
          <div class="modal-body">
            {{> sharejsAce docid=document onRender=config onConnect=setMode id="editor"}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Close
            </button>
            <button type="button" class="btn btn-primary"
                    id="save-changes">Save changes
            </button>
          </div>
        </div>
      </div>
    {{/with}}
  </div>
</template>
