<template name="DatabaseDashboard">
  {{#with database}}
    <h1>{{name}}</h1>

    <div class="container-fluid dashboard">
      {{#each collections}}
        <a class="btn btn-info col-xs-3 col-sm-2 col-md-1 icon-item" href="{{pathForDocuments data=this}}" role="button">
          <i class="{{icon}} icon"></i><br>{{name}}
        </a>
      {{/each}}
      <a class="btn btn-default col-xs-3 col-sm-2 col-md-1 icon-item add-collection" href="#" role="button">
        <i class="fa fa-plus icon"></i><br>Add
      </a>
    </div>
  {{/with}}

</template>
