<template name="DatabaseDashboard">

  <div class="container bg-box m-t-md p-t">

    <div class="pull-right database-colors">
      {{#each themes}}
        <a href="#" data-theme="{{this}}">
          <i class="fa fa-database db-theme-inverted-{{this}}"></i>
        </a>
      {{/each}}
    </div>
    <h1 class="page-header db-theme-inverted-{{currentDatabaseTheme}}"><i class="fa fa-database"></i> {{currentDatabase.name}}</h1>

    <h4>
      <a href="{{pathForConsole data=currentDatabase}}">Console</a>
    </h4>

    <h4>Collections</h4>
      <table class="table tree-view">
        {{#each collections}}
          <tr class="parent document">
            <td class="cell key">{{index}} <a href="{{pathForDocuments data=this}}">{{name}}</a></td>
            <td class="cell actions text-right">
              <div class="btn btn-default btn-inverted btn-xs collection-settings"><i class="fa fa-cog"></i></div>
            </td>
          </tr>
        {{/each}}
      </table>
  </div>
</template>
