<template name="Shortcut">
  <a href="#" data-toggle="modal" data-target="#shortcuts-modal">Shortcuts</a>

  <div id="shortcuts-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Shortcuts</h4>
        </div>
        <div class="modal-body">
          <div class="light-keys">
            {{#each shortcuts}}
              <div class="h3 m-t">{{namespace}}</div>
              {{#each items}}
                <div class="m-t-sm">
                  {{#each keys}}
                    <kbd>{{this}}</kbd>
                  {{/each}}
                  <span class="p-l-sm">{{label}}</span>
                </div>
              {{/each}}
            {{/each}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
