<template name="Tree">
  {{> ViewValueModal}}
  <div class="">
  	{{#if zeroResults}}
  		<h2 class="no-results">No results.</h2>
  	{{else}}
      <table class="table tree-view">
        <tr class="column-headers">
          <td class="cell key">#. _id</td>
          {{#each pinnedColumns}}
            <td class="cell pinned">{{this}}</td>
          {{/each}}
          <td></td>
        </tr>
        {{#each documents}}
          {{> TreeDocument}}
        {{/each}}
      </table>
    {{/if}}
  </div>
</template>
