<template name="TreeDocumentRow">
  <div class="col-xs-12 parent {{levelClass}}">
    <div class="row {{printIf hasChildren 'toggle-children' ''}} head">
      <div class="col-xs-4 cell key">{{key}}</div>
      <div class="col-xs-6 cell value {{valueClass}}">
        {{formattedValue}}
        {{#if isPruned}}
          <a class="view-value" href="#">view</a>
        {{/if}}
        {{#if copyValue}}
          <div class="btn btn-link btn-xs copy-value" data-clipboard-text="{{copyValue}}">
            <i class="fa fa-clipboard"></i>
          </div>
        {{/if}}
      </div>
      <div class="col-xs-2 cell actions text-right">
        {{#if isLevel 0}}
          <div class="btn btn-primary btn-inverted btn-xs edit-document" data-id="{{key}}"><i class="fa fa-pencil"></i></div>
          <div class="btn btn-warning btn-inverted btn-xs duplicate-document" data-id="{{key}}"><i class="fa fa-files-o"></i></div>
          <div class="btn btn-danger btn-inverted btn-xs delete-document" data-id="{{key}}"><i class="fa fa-trash-o"></i></div>
        {{/if}}
      </div>
    </div>
    {{#if renderChildren}}
      <div class="row children">
        {{#each children}}
          {{> TreeDocumentRow this}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
