<template name="TreeDocumentRow">
  <div class="col-xs-12 parent">
    <div class="row {{printIf hasChildren 'toggle-children' ''}} head">
      <div class="col-xs-3 cell key">
        {{drMongoIndex}} {{{keyValue}}}
        {{#unless hasChildren}}
          <div class="btn btn-link btn-xs control-icon pin-column" data-full-path="{{fullPath}}">
            {{#if isPinned}}
              <i class="fa fa-thumb-tack text-danger"></i>
           {{else}}
              <i class="fa fa-thumb-tack"></i>
            {{/if}}
          </div>
        {{/unless}}
        {{#if copyValue}}
        <div class="btn btn-link btn-xs copy-value control-icon pull-right" data-clipboard-text="{{copyValue}}">
          <i class="fa fa-clipboard"></i>
        </div>
        {{/if}}
      </div>
      <div class="col-xs-7 cell value {{valueClass}}">
        {{{formattedValue}}}
        {{#if isPruned}}
            <a class="view-value" href="#">view</a>
        {{/if}}
      </div>
    </div>
    <div class="row children">
      {{#each children}}
        {{> TreeDocumentRow this}}
      {{/each}}
    </div>
  </div>
</template>
