<template name="JsCode">
  <div class="commands">
    <h2>Evaluate JS Code</h2>

    <div class="row">
      <div class="col-xs-7">
        <div>
          Variable
          <strong>{{collection.className}}</strong> contains instance of Mongo.Collection()
        </div>
        <form class="commands-editor">
          {{> sharejsAce onRender=config id="editor"}}
          <button class="btn btn-success btn-inverted m-t"
                  type="submit">Execute
          </button>
        </form>
      </div>
      <div class="col-xs-5">
        <div>
          Response:
        </div>
        <div class="response">
        </div>
      </div>
    </div>
  </div>
</template>
